body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 200px;
}

#logo {
    color: #F9FAF8;
    font-size: 25px;
    font-weight: 700;
}

#menu {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 400;
}

#opener {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}

#opener-container {
    display: flex;
    align-items: center;
    gap: 70px;
}

#opener-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
    color: #F9FAF8;
    margin-bottom: 5px;
}

#opener-subtext {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    margin-bottom: 15px;
}

#sign-up-btn {
    background-color: #3382F6;
    border: none;
    color: #F9FAF8;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 6px;
}

#opener-image-placeholder {
    height: 250px;
    width: 500px;
    background-color: gray;
    color: #F9FAF8;

    flex: 0 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 200px;
}

#info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#options {
    display: flex;
    gap: 25px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.illustration {
    width: 175px;
    height: 175px;
    border: solid 5px #3382F6;
    border-radius: 10px
}

.illustration-description {
    font-size: 18px;
    color: gray;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 80px 200px;

    background-color: #E5E7EB;
}

#quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

#author {
    color: #1F2937;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
}

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;

    background-color: #F9FAF8;
}

#cta-container {
    background-color: #3382F6;
    border-radius: 10px;

    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

#cta-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

#cta-subtext {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
}

#cta-btn {
    flex: 0 1 auto;
    background-color: #3382F6;
    border: solid 1px #F9FAF8;
    border-radius: 6px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 35px;
    cursor: pointer;    
}